/*
font-family: 'Walter Turncoat', cursive;
font-family: 'The Girl Next Door', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Codystar', cursive;
*/

/* to define the total width of the object*/
* { box-sizing: border-box; }

a {
  text-decoration: none;
  color: white;
} 

a:hover {
  color: yellow;
}

body {
  background: url('bluegraffiti.jpg');
  /*background: url('bluegraffiti3_copy.png');*/
  /*  background: url('underground_background.jpg');*/
  background-size: cover;
  font-family: 'Walter Turncoat', cursive;
  color: #A0522D;
}

header {
  font-family: 'Walter Turncoat', cursive;
  font-size: 100px;
  color: #FFDEAD;
  text-align: center;
  /* background: blue;
  I need to get a beautiful blue color. Look at the website with the colour schemes */
}

nav ul li {
  list-style-type: none;
  text-align: center;
  font-family: 'Walter Turncoat', cursive;
  font-size: 25px;
  float: left;
  width: 19%;
  display: block;
  color: white;
  background: black;
  padding: 10px 0;
  margin-right: 1px;
}

.session_acknowledgement {
  width: 100%;
}

ul#session-acknowledgement li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 0;
  width: auto;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-padding-start: 0px;
}

ul#session-acknowledgement li#warning {
  color: red;
}

.warning {
  color: black;
  margin-left: 40px;
}

h2 {
  text-align: center;
  font-size: 65px;
  margin-top: 15px;
  margin-bottom: 0px;
}

h3 {
  color: #FFDEAD;
  font-size: 50px;
  margin-left: 40px;
  /*margin-top: 40px; Doesn't seem to do anything. */
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

h4 {
 font-size: 30px; 
 text-align: center;
 margin: 0;
}

h5 {
  color: #FFDEAD;
  margin: 0;
  font-size: 20px;
}

h6 {
  color: #FFDEAD;
  margin: 0;
  font-size: 14px;
}

p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

.home {
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 50px;
  /* Need to change to a more sophiscated colour here also */
  background-color: #000000;
  opacity: 0.7;
}

.container {
  width: 800px;
  margin-left: 70px;
  background: rgba(0,0,0,.6);
}

main {
  width: 395px;
  min-height: 500px;
  float: left;
  background-color: rgba(0,0,0,.6);
}

aside {
  width: 395px;
  min-height: 500px;
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: rgba(0,0,0,.6);
}

.bottom {
  clear: both;
  width: 795px;
  margin-left: 70px;
 /* margin-top: 5px; Doesn't seem to work*/
  /* Need a better colour */
  background-color: #000000;
  opacity: 0.6;
}

.comments {
  color: #A0522D;
  opacity: 1;
}

.session_acknowledgement {
  margin-left: 40px;
}

.search {
  margin-left: 40px;
  margin-bottom: 10px;
}

/* Example of customisation. So it appears that a style can belong to mulitple classes. */
/* A very specific example but it also looks like you need it for the specific area too. => .user_background_red>main {
  background: red;
}*/

.user_background_red>main {
  background: red;
}

.user_background_green>main {
  background: green;
}

.user_background_gray>main {
  background: gray;
}

.user_background_black>main {
  background: black;
}

.user_background_white>main {
  background: white;
}

.user_background_blue>main {
  background: blue;
}

.user_background_red>aside {
  background: red;
}

.user_background_green>aside {
  background: green;
}

.user_background_gray>aside {
  background: gray;
}

.user_background_black>aside {
  background: black;
}

.user_background_white>aside {
  background: white;
}

.user_background_blue>aside {
  background: blue;
}

.user_font_red>main {
  color: red;
}

.user_font_green>main {
  color: green;
}

.user_font_gray>main {
  color: gray;
}

.user_font_black>main {
  color: black;
}

.user_font_white>main {
  color: white;
}

.user_font_blue>main {
  color: blue;
}

.user_font_red>aside {
  color: red;
}

.user_font_green>aside {
  color: green;
}

.user_font_gray>aside {
  color: gray;
}

.user_font_black>aside {
  color: black;
}

.user_font_white>aside {
  color: white;
}

.user_font_blue>aside {
  color: blue;
}
