<h3>Home</h3>

<div class="home">
  <p>
    <strong>Company Background</strong>
    <br>
    Welcome to Underground Music! 
  </p>
</div>

<!-- I'm supposed to have some small containers here but I may run out of time -->
<div class="small_container">

</div>
