<h3>Home</h3>

<div class="home">
  <p>
    <strong>Company Background</strong>
    <br>
    Welcome to Underground Music! 
  </p>
</div>

<div class="search">
    <%#= search_form_for @q do |f| %>
      <%#= f.label :user_name_cont, 'Search for artist' %>
      <%#= f.text_field :user_name_cont %>
      <%#= f.label :song_song_name_cont, 'Search for Song' %>
      <%#= f.text_field :song_song_name_cont %>
      <%#= f.submit %>
    <%# end %>
</div>

<!-- I'm supposed to have some small containers here but I may run out of time -->
<div class="small_container">

</div>
